/* Fonts */

@font-face {
	font-family:'Rouble';
	src:url('../fonts/rouble.eot');
	src:url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/rouble.woff') format('woff'),
	    url('../fonts/rouble.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:'PT Sans';
	src:url('../fonts/ptsansb.eot');
	src:url('../fonts/ptsansb.eot?#iefix') format('embedded-opentype'),
	    url('../fonts/ptsansb.woff') format('woff'),
	    url('../fonts/ptsansb.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

/* Default */

html {
	height:100%;
}
body {
	position:relative;
	min-width:1000px;
	width:100%;
	height:100%;
	color:#000000;
	font-size:12px;
	line-height:16px;
    font-family:'Verdana', sans-serif;
	padding:0;
	margin:0;
	background:#ffffff;
	-webkit-tap-highlight-color:transparent;
}
body:before, body:after {
	content:'';
	position:absolute;
	top:0;
	z-index:99;
	width:40px;
	height:100%;
	background:#ffffff;
}
body:before {
	left:0;
}
body:after {
	right:0;
}
p {
	text-indent:0;
	padding:0;
	margin:0 0 16px;
}
table {
	margin:0 0 16px;
	border-collapse:collapse;
}
table td {
	padding:0;
}
:focus {
	outline:none;
}
img {
	padding:0;
	margin:0;
	border:0;
}
a {
	color:#000000;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
form {
	margin:0;
}
ul {
	margin:0 0 10px 16px;
	padding:0;
}
ul li {
	padding:0;
	list-style:none;
}
ol {
	margin:0 0 10px 18px;
	padding:0;
}
* +html ol {
	padding:0 0 0 5px;
}
ol li {
	padding:0 0 0 16px;
}
input, select, textarea {
	color:#000000;
	font-size:12px;
    font-family:'Verdana', sans-serif;
	padding:0;
	margin:0;
	background:none;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
textarea {
	overflow:auto;
}
button {
    font-family:'Verdana', sans-serif;
	margin:0;
	border:0;
	-moz-box-shadow:border-box;
	-webkit-box-shadow:border-box;
	box-sizing:border-box;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
::-webkit-input-placeholder  {
	color:#767676;
}
:-moz-placeholder {
	color:#767676;
}
::-moz-placeholder {
	color:#767676;
}
:-ms-input-placeholder {
	color:#767676;
}
.wrapper {
	position:relative;
	z-index:10;
	min-width:1000px;
	min-height:100%;
	margin:0 auto;
}
.bg {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

/* Core */

header {
	position:fixed;
	left:0;
	top:0;
	z-index:100;
	width:100%;
	height:67px;
	background:#ffffff;
}
header h3, header h5 {
	position:absolute;
	left:40px;
	top:24px;
	font-size:16px;
	line-height:19px;
	font-weight:normal;
	text-transform:uppercase;
	padding:0;
	margin:0;
}
header h3 {
	cursor:pointer;
}
header h5 {
	position:absolute;
	top:20px;
	left:50%;
	width:280px;
	font-size:24px;
	line-height:27px;
	font-weight:normal;
	text-align:center;
	padding:0;
	margin:0 0 0 -140px;
}
header button {
	position:absolute;
	right:40px;
	top:17px;
	font-size:16px;
	line-height:19px;
	font-weight:bold;
	font-family:'PT Sans', sans-serif;
	cursor:pointer;
	padding:6px 23px 4px 22px;
	background:transparent;
	border:2px solid #000000;
}
footer {
	position:fixed;
	left:0;
	bottom:0;
	z-index:100;
	width:100%;
	height:71px;
	background:#ffffff;
}
footer div {
	position:absolute;
	left:40px;
	bottom:18px;
	width:520px;
}
footer div p {
	font-size:14px;
	line-height:17px;
	margin:0;
}
footer h5 {
	position:absolute;
	right:40px;
	bottom:28px;
	font-size:14px;
	line-height:17px;
	font-weight:normal;
	padding:0;
	margin:0;
}
footer h5 img {
	display:inline-block;
	vertical-align:top;
	margin:-2px 0 -4px -1px;
}
footer ul {
	position:absolute;
	left:50%;
	width:142px;
	bottom:26px;
	text-align:center;
	margin:0 0 0 -70px;
}
footer ul li {
	display:inline;
	font-size:16px;
	line-height:20px;
	margin:0 5px;
}
footer ul li a {
	color:#a4b68a;
}
section {
	position:relative;
	z-index:10;
	min-height:600px;
	background:url('../img/bg.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
section > div {
	position:absolute;
	left:40px;
	top:67px;
}
/*.welcome .logo {
	position:absolute;
	left:7%;
	top:14%;
}*/
.welcome .logo {
	position:absolute;
	left:0;
	top:12.6%;
	z-index:20;
	width:497px;
	height:205px;
	background:url('../img/logo_bg.png') no-repeat left top;
	-webkit-transform-origin:left top;
	-moz-transform-origin:left top;
	transform-origin:left top;
}
.welcome .logo img {
	position:absolute;
	left:87px;
	top:49px;
}
.welcome .logo h6 {
	position:absolute;
	left:104px;
	top:122px;
	width:260px;
	color:#2c251f;
	font-size:15px;
	line-height:18px;
	padding:0;
	margin:0;
}
.welcome .gloves {
	position:absolute;
	left:50%;
	top:50%;
	display:block;
	width:737px;
	height:696px;
	margin:-333px 0 0 -183px;
	background:url('../img/gloves.png') no-repeat center center;
}
.phone {
	position:absolute;
	display:block;
	width:492px;
	height:521px;
	background:url('../img/phone.png') no-repeat center center;
}
.welcome .phone {
	left:6%;
	bottom:-10%;
}
.welcome .photo1 {
	position:absolute;
	right:0;
	bottom:0;
	display:block;
	width:292px;
	height:408px;
	background:url('../img/photo1.png') no-repeat center center;
}
.benefits {
	background:url('../img/benefits_bg.jpg') no-repeat 70% 40%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.benefits .content {
	position:absolute;
	left:50%;
	top:50%;
	width:960px;
	text-align:center;
	margin-left:-480px;
}
.benefits h2 {
	font-size:44px;
	line-height:50px;
	text-transform:uppercase;
	padding:0;
	margin:0 0 25px;
}
.benefits ul {
	height:270px;
	white-space:nowrap;
	padding:98px 0 0;
	margin:0;
	background:url('../img/green_square.png') no-repeat center top;
}
.benefits ul li {
	display:inline-block;
	width:300px;
	vertical-align:top;
	white-space:normal;
	margin:0 0 0 27px;
}
.benefits ul li:first-child {
	margin-left:0;
}
.benefits ul li div {
	position:relative;
	width:100px;
	height:80px;
	margin:0 auto 21px;
}
.benefits ul li div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:100px;
	max-height:80px;
	margin:auto;
}
.benefits ul li p {
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	margin:0;
}
.design {
	background:url('../img/design_bg.jpg') no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.design .content {
	position:absolute;
	left:50%;
	top:50%;
	width:820px;
	text-align:center;
	margin-left:-410px;
}
.design h2 {
	font-size:44px;
	line-height:50px;
	text-transform:uppercase;
	padding:0;
	margin:0 0 25px;
}
.design .content > div {
	height:319px;
	padding:49px 0 0;
	margin:0;
	background:url('../img/green_square.png') no-repeat center top;
}
.design img {
	margin:0 0 8px;
}
.design p {
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	margin:0 0 25px;
}
.type1 .phone {
	top:27%;
	left:10%;
}
.type1 .photo1 {
	position:absolute;
	right:4%;
	bottom:-25%;
	display:block;
	width:378px;
	height:409px;
	background:url('../img/photo2.png') no-repeat center center;
}
.type2 .photo1 {
	position:absolute;
	left:5%;
	top:50%;
	display:block;
	width:398px;
	height:420px;
	background:url('../img/photo3.png') no-repeat center center;
}
.type2 .photo2 {
	position:absolute;
	right:17%;
	bottom:-50%;
	display:block;
	width:387px;
	height:425px;
	background:url('../img/photo4.png') no-repeat center center;
}
.type3 .photo1 {
	position:absolute;
	left:2%;
	top:43%;
	display:block;
	width:377px;
	height:410px;
	background:url('../img/photo5.png') no-repeat center center;
}
.type3 .photo2 {
	position:absolute;
	right:8%;
	bottom:-42%;
	display:block;
	width:401px;
	height:432px;
	background:url('../img/photo6.png') no-repeat center center;
}
.type4 .photo1 {
	position:absolute;
	left:8%;
	bottom:-48%;
	display:block;
	width:425px;
	height:427px;
	background:url('../img/photo7.png') no-repeat center center;
}
.type4 .photo2 {
	position:absolute;
	right:18%;
	top:36%;
	display:block;
	width:399px;
	height:430px;
	background:url('../img/photo8.png') no-repeat center center;
}
.carousel {
	position:absolute;
	left:50%;
	top:50%;
	z-index:10;
	width:1253px;
	text-align:center;
	margin:-260px 0 0 -627px;
}
.carousel h2 {
	font-size:44px;
	line-height:50px;
	text-transform:uppercase;
	padding:0;
	margin:0 0 43px;
}
.carousel h2 img {
	margin:-22px 0 -33px;
}
.carousel .jcarousel-container, .carousel .jcarousel-clip {
	position:relative;
	width:1253px;
	height:306px;
}
.carousel .jcarousel-clip {
	overflow:hidden;
}
.carousel .jcarousel-container .jcarousel-prev, .carousel .jcarousel-container .jcarousel-next {
	position:absolute;
	top:50%;
	width:47px;
	height:47px;
	cursor:pointer;
	margin-top:-18px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:0 0 30px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 30px rgba(0,0,0,0.8);
	box-shadow:0 0 30px rgba(0,0,0,0.8);
}
.carousel .jcarousel-container .jcarousel-prev {
	left:-67px;
	background:rgba(0,0,0,0.4) url('../img/carousel_arrows.png') no-repeat left top;
}
.carousel .jcarousel-container .jcarousel-next {
	right:-67px;
	background:rgba(0,0,0,0.4) url('../img/carousel_arrows.png') no-repeat -47px top;
}
.carousel .jcarousel-clip ul {
	margin:0;
}
.carousel .jcarousel-item {
	float:left;
	width:248px;
	height:282px;
	padding:12px;
	margin:0 55px 0 0;
	background:rgb(162,182,138);
	background:rgba(162,182,138,0.8);
}
.carousel .jcarousel-item:last-child {
	margin-right:0;
}
.carousel .jcarousel-item > div {
	height:222px;
	padding:45px 15px 15px;
	background:#ffffff;
}
.carousel .jcarousel-item > div > div {
	position:relative;
	width:218px;
	height:168px;
	margin:0 0 10px;
}
.carousel .jcarousel-item > div > div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:218px;
	max-height:178px;
	margin:auto;
}
.carousel .jcarousel-item p {
	font-size:16px;
	line-height:24px;
	margin:0;
}
.carousel .jcarousel-item p em {
	font-size:17px;
	font-style:normal;
	font-family:'Rouble', sans-serif;
}
.carousel .jcarousel-item button {
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	cursor:pointer;
	padding:7px 36px 9px;
	margin:18px 0 0;
	background:transparent;
	border:2px solid #000000;
}
.carousel > button {
	width:380px;
	color:#000000;
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	font-family:'PT Sans', sans-serif;
	cursor:pointer;
	padding:20px 20px 18px;
	margin:62px 0 0;
	background:#aee066;
}
.tip {
	position:absolute;
	right:0;
	top:77%;
	z-index:200;
	width:560px;
	padding:33px 0 34px;
	margin-top:-68px;
	background:#aee066 url('../img/tip_bg.png') no-repeat 43px center;
}
.tip p {
	font-size:20px;
	line-height:24px;
	margin:0 36px 0 40px;
}

@media screen and (max-width: 1600px), screen and (max-height: 900px) {
	.welcome .logo {
		-webkit-transform:scale(0.9);
		-moz-transform:scale(0.9);
		transform:scale(0.9);
	}
	.welcome .phone {
		left:4%;
	}
	.welcome .photo1 {
		right:-9%;
	}
	.type1 .phone {
		left:2%;
	}
	.type1 .photo1 {
		right:-7%;
	}
	.carousel {
		width:1133px;
		margin-left:-566px;
	}
	.carousel .jcarousel-container, .carousel .jcarousel-clip {
		width:1133px;
	}
	.carousel .jcarousel-item {
		margin:0 15px 0 0;
	}
	.type3 .photo1 {
		left:-6%;
	}
	.type4 .photo1 {
		left:4%;
	}
	.type4 .photo2 {
		right:11%;
	}
}
@media screen and (max-width: 1400px), screen and (max-height: 820px) {
	.welcome .logo {
		-webkit-transform:scale(0.8);
		-moz-transform:scale(0.8);
		transform:scale(0.8);
	}
	.welcome .phone {
		left:2%;
		width:399px;
		height:426px;
		background-size:100% 100%;
	}
	.welcome .photo1 {
		right:-12%;
		width:236px;
		height:330px;
		background-size:100% 100%;
	}
	.welcome .gloves {
		width:631px;
		height:596px;
		margin:-293px 0 0 -163px;
		background-size:100% 100%;
	}
	.type1 .phone {
		left:-14%;
	}
	.type1 .photo1 {
		right:-9%;
	}
	.benefits .content {
		width:940px;
		margin-left:-470px;
	}
	.benefits ul li {
		display:inline-block;
		width:300px;
		vertical-align:top;
		white-space:normal;
		margin:0 0 0 17px;
	}
	footer div {
		width:380px;
		bottom:11px;
	}
	footer h5 {
		bottom:28px;
	}
	.carousel {
		width:810px;
		margin:-230px 0 0 -405px;
	}
	.carousel h2 {
		margin:0 0 33px;
	}
	.carousel > button {
		margin:42px 0 0;
	}
	.carousel .jcarousel-container, .carousel .jcarousel-clip {
		width:810px;
		height:262px;
	}
	.carousel .jcarousel-item {
		width:171px;
		height:238px;
		margin:0 10px 0 0;
	}
	.carousel .jcarousel-item > div {
		height:208px;
		padding:25px 5px 5px;
		background:#ffffff;
	}
	.carousel .jcarousel-item > div > div {
		width:161px;
		height:148px;
		margin:0 0 12px;
	}
	.carousel .jcarousel-item > div > div img {
		max-width:161px;
		height:auto;
	}
	.carousel .jcarousel-item button {
		padding:6px 26px 8px;
	}
	.type2 .photo1 {
		left:-11%;
	}
	.type2 .photo2 {
		right:3%;
	}
	.type3 .photo1 {
		left:-7%;
	}
	.type3 .photo2 {
		right:2%;
	}
	.type4 .photo1 {
		left:-7%;
	}
	.type4 .photo2 {
		right:1%;
	}
}
.nav {
	position:fixed;
	right:0;
	top:50%;
	z-index:500;
	width:40px;
	margin:-49px 0 0;
}
.nav li a {
	display:block;
	height:14px;
	background:url('../img/nav_li.png') no-repeat center -14px;
}
.nav li.active a {
	background:url('../img/nav_li.png') no-repeat center top;
}
.fade {
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:url('../img/fade_bg.png') repeat;
}
.modal {
	display:none;
	position:fixed;
	left:50%;
	top:50%;
	z-index:1010;
	width:677px;
	height:449px;
	margin:-224px 0 0 -338px;
	background:#ffffff url('../img/modal_bg.png') repeat-y left;
	-webkit-box-shadow:0 0 30px rgba(0,0,0,0.5);
	-moz-box-shadow:0 0 30px rgba(0,0,0,0.5);
	box-shadow:0 0 30px rgba(0,0,0,0.5);
}
.modal .close {
	position:absolute;
	right:3px;
	top:3px;
	width:20px;
	height:20px;
	cursor:pointer;
	background:url('../img/modal_close.png') no-repeat center center;
}
.modal .form {
	position:absolute;
	left:32px;
	top:38px;
	width:219px;
	text-align:center;
}
.modal .form h5 {
	color:#ffffff;
	font-size:16px;
	line-height:24px;
	font-weight:normal;
	padding:0;
	margin:0 0 11px;
}
.modal .form .quantity {
	margin:0 0 51px;
}
.modal .form .quantity span {
	display:inline-block;
	width:30px;
	height:30px;
	vertical-align:top;
	cursor:pointer;
	margin:4px 0 0;
}
.modal .form .quantity span.minus {
	background:url('../img/quantity_icons.png') no-repeat left top;
}
.modal .form .quantity span.plus {
	background:url('../img/quantity_icons.png') no-repeat left -30px;
}
.modal .form .quantity h6 {
	display:inline-block;
	color:#ffffff;
	font-size:36px;
	line-height:36px;
	font-weight:normal;
	vertical-align:top;
	padding:0 10px;
	margin:0;
}
.modal .form p {
	margin:0 0 14px;
}
.modal .form p input {
	width:100%;
	font-size:14px;
	padding:10px 10px 9px;
	background:#ffffff;
}
.modal .form button {
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	font-family:'PT Sans', sans-serif;
	cursor:pointer;
	padding:8px 41px 6px;
	margin:39px 0 0;
	background:transparent;
	border:2px solid #ffffff;
}
.modal .form button:hover {
	background:#000000;
	border:2px solid #000000;
}
.modal .product {
	position:absolute;
	right:30px;
	top:40px;
	width:334px;
	text-align:center;
}
.modal .product p {
	font-size:16px;
	line-height:20px;
	margin:0 0 14px;
}
.modal .product > div {
	position:relative;
	width:334px;
	height:294px;
	margin:0 0 16px;
}
.modal .product > div img {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	max-width:334px;
	max-height:294px;
	margin:auto;
}
.modal .product h5 {
	font-size:28px;
	line-height:32px;
	font-weight:normal;
	padding:0;
	margin:0;
}
.modal .product h5 em {
	font-size:30px;
	font-style:normal;
	font-family:'Rouble', sans-serif;
	padding:0 0 0 3px;
}

.partnership {
	background:url('../img/benefits_bg.jpg') no-repeat 70% 40%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.partnership .content {
	position:absolute;
	left:50%;
	top:50%;
	width:960px;
	text-align:center;
	margin-left:-480px;
}
.partnership h2 {
	font-size:44px;
	line-height:50px;
	text-transform:uppercase;
	padding:0;
	margin:0 0 25px;
}
.partnership ul {
	text-align:left;
	padding:56px 0 0;
	margin:0 0 -56px;
	background:url('../img/green_square.png') no-repeat center top;
}
.partnership ul li {
	display:inline-block;
	width:300px;
	text-align:center;
	vertical-align:top;
	margin:0 27px 55px 0;
}
.partnership ul li:nth-child(3n) {
	margin-right:-10px;
}
.partnership ul li h5 {
	font-size:36px;
	line-height:20px;
	padding:0;
	margin:0 0 24px;
}
.partnership ul li p {
	font-size:16px;
	line-height:24px;
	font-weight:bold;
	margin:0 0 24px;
}
.partnership button {
	width:380px;
	color:#000000;
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	font-family:'PT Sans', sans-serif;
	cursor:pointer;
	padding:20px 20px 18px;
	margin:0;
	background:#aee066;
	-webkit-box-shadow:0 0 15px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 15px rgba(0,0,0,0.3);
	box-shadow:0 0 15px rgba(0,0,0,0.3);
}
@media screen and (max-height: 760px) {
	.tip {
		margin-top:-62px;
	}
	.tip p {
		font-size:18px;
		line-height:22px;
	}
	.welcome .phone {
		left:2%;
		width:306px;
		height:327px;
		background-size:100% 100%;
	}
	.welcome .photo1 {
		right:-5%;
		width:181px;
		height:253px;
		background-size:100% 100%;
	}
	.welcome .gloves {
		width:485px;
		height:458px;
		margin:-213px 0 0 -163px;
		background-size:100% 100%;
	}
	.phone {
		width:378px;
		height:400px;
		background-size:100% 100%;
	}
	.type1 .phone {
		left:-10%;
	}
	.type1 .photo1 {
		right:-7%;
		width:290px;
		height:314px;
		background-size:100% 100%;
	}
	.type2 .photo1 {
		left:-8%;
		width:306px;
		height:323px;
		background-size:100% 100%;
	}
	.type2 .photo2 {
		right:1%;
		width:297px;
		height:326px;
		background-size:100% 100%;
	}
	.type3 .photo1 {
		left:-5%;
		width:290px;
		height:315px;
		background-size:100% 100%;
	}
	.type3 .photo2 {
		right:0;
		width:308px;
		height:332px;
		background-size:100% 100%;
	}
	.type4 .photo1 {
		left:-5%;
		width:326px;
		height:328px;
		background-size:100% 100%;
	}
	.type4 .photo2 {
		right:-1%;
		width:306px;
		height:330px;
		background-size:100% 100%;
	}
	.benefits .content {
		-webkit-transform:scale(0.85);
		-moz-transform:scale(0.85);
		transform:scale(0.85);
	}
	.design .content {
		-webkit-transform:scale(0.85);
		-moz-transform:scale(0.85);
		transform:scale(0.85);
	}
	.carousel {
		-webkit-transform:scale(0.85);
		-moz-transform:scale(0.85);
		transform:scale(0.85);
	}
	.partnership .content {
		-webkit-transform:scale(0.85);
		-moz-transform:scale(0.85);
		transform:scale(0.85);
	}
	.partnership ul {
		padding:36px 0 20px;
		margin:-10px 0 10px;
	}
	.partnership ul li {
		margin-bottom:10px;
	}
	.partnership button {
		margin:0 0 -30px;
	}
}